@model Cart

<table class="table table-bordered">
    <thead>
        <tr>
            <td>Наименование</td>
            <td>Цена</td>
            <td>Количество</td>
            <td>Сумма</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CartItems)
        {
            <tr>
                <td>@item.Game.Name</td>
                <td>@item.Game.Price</td>
                <td>@item.Amount</td>
                <td>@(item.Game.Price * item.Amount)</td>
                <td>
                    <a asp-action="RemoveFromCart" asp-route-gameId="@item.Game.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>